@font-face {
  font-family: "InfinitS";
  src: local("InfinitS"), url("../../fonts/InfinitS.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PristyneDEMO";
  src: local("PristyneDEMO"),
    url("../../fonts/PristyneDEMO.ttf") format("truetype");
  font-weight: normal;
}

.mealsTitle {
  font-family: PristyneDEMO;
  color: #37419a;
  font-size: 4rem;
  letter-spacing: 2px;
  margin-bottom: -6px;
}

.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
