@font-face {
  font-family: "InfinitS";
  src: local("InfinitS"), url("../../../fonts/InfinitS.ttf") format("truetype");
  font-weight: normal;
}

.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  flex-direction: column;
}

li.meal:last-child {
  border-bottom: none;
  /* background-image: url("../../../assets/gb-burger.jpg"); */
}

.mealDetail {
  display: flex;
  justify-content: space-between;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
  color: #37419a;
}

.description {
  font-family: "Roboto";
  font-weight: bold;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #faa629;
  font-size: 1.25rem;
  text-align: right;
  margin-bottom: 20px;
}

.imgMeal {
  width: 150px;
}

.mealLeftColumn {
  display: flex;
}

@media screen and (max-width: 475px) {
  .meal {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
